# Assignment Title:
   ## Employee Salary Computation System
#### Business Scenario
#### XYZ Pvt. Ltd. has 5 employees working in different departments.
- The company wants a simple Python program that:
- 1. Takes each employee's name, basic salary, HRA%, DA%, and PF% from the user
- 2. Converts every input into the correct data type.
- 3. Calculates salary components using arithmetic operations.
- 4. Uses logical operators to categorize the salary range
- 5. Prints a clean salary report for each employee.(report.txt)

## 1. Takes each employee's name, basic salary, HRA%, DA%, and PF% from the user

In [1]:
name = str(input("Enter 1st employee name: "))
salary1 = float(input("Enter your salary"))
hra1 = salary1 * 6.4 / 100
print("House Rent Allowance= ", hra1)
da1 = salary1 * 5.3 / 100
print("Dearness Allowance= ", da1)
pf1 = salary1 * 3.5 / 100
print("Provident Fund= ", pf1)

Enter 1st employee name:  prajakta
Enter your salary 60000

House Rent Allowance=  3840.0
Dearness Allowance=  3180.0
Provident Fund=  2100.0

In [2]:
name = str(input("Enter 2nd employee name: "))
salary2 = float(input("Enter your salary"))
hra2 = salary2 * 6.4 / 100
print("House Rent Allowance= ", hra2)
da2 = salary2 * 5.3 / 100
print("Dearness Allowance= ", da2)
pf2 = salary2 * 3.5 / 100
print("Provident Fund= ", pf2)

Enter 2nd employee name:  riya
Enter your salary 55000

House Rent Allowance=  3520.0
Dearness Allowance=  2915.0
Provident Fund=  1925.0

In [3]:
name = str(input("Enter 3rd employee name: "))
salary3 = float(input("Enter your salary"))
hra3 = salary3 * 6.4 / 100
print("House Rent Allowance= ", hra3)
da3 = salary3 * 5.3 / 100
print("Dearness Allowance= ", da3)
pf3 = salary3 * 3.5 / 100
print("Provident Fund= ", pf3)

Enter 3rd employee name:  sanika
Enter your salary 50000

House Rent Allowance=  3200.0
Dearness Allowance=  2650.0
Provident Fund=  1750.0

In [4]:
name = str(input("Enter 4th employee name: "))
salary4 = float(input("Enter your salary"))
hra4 = salary4 * 6.4 / 100
print("House Rent Allowance= ", hra4)
da4 = salary4 * 5.3 / 100
print("Dearness Allowance= ", da4)
pf4 = salary4 * 3.5 / 100
print("Provident Fund= ", pf4)

Enter 4th employee name:  Nisha
Enter your salary 63000

House Rent Allowance=  4032.0
Dearness Allowance=  3339.0
Provident Fund=  2205.0

In [5]:
name = str(input("Enter 5th employee name: "))
salary5 = float(input("Enter your salary"))
hra5 = salary5 * 6.4 / 100
print("House Rent Allowance= ", hra5)
da5 = salary5 * 5.3 / 100
print("Dearness Allowance= ", da5)
pf5 = salary5 * 3.5 / 100
print("Provident Fund= ", pf5)

Enter 5th employee name:  sakshi
Enter your salary 45000

House Rent Allowance=  2880.0
Dearness Allowance=  2385.0
Provident Fund=  1575.0

# 2. Converts every input into the correct data type.

In [6]:
print(type(name))
print(type(salary1))
print(type(hra1))
print(type(da1))
print(type(pf1))

<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

# 3. Calculates salary components using arithmetic operations.

In [7]:
print("Employee 1 Salary: ")
gross_salary1 = salary1 + hra1 + da1 + pf1
net_salary1 = gross_salary1 - pf1
print(gross_salary1)
print(net_salary1)

Employee 1 Salary:
69120.0
67020.0

In [8]:
print("Employee 2 Salary: ")
gross_salary2 = salary2 + hra2 + da2 + pf2
net_salary2 = gross_salary2 - pf2
print(gross_salary2)
print(net_salary2)

Employee 2 Salary:
63360.0
61435.0

In [9]:
print("Employee 3 Salary: ")
gross_salary3 = salary3 + hra3 + da3 + pf3
net_salary3 = gross_salary3 - pf3
print(gross_salary3)
print(net_salary3)

Employee 3 Salary:
57600.0
55850.0

In [10]:
print("Employee 4 Salary: ")
gross_salary4 = salary4 + hra4 + da4 + pf4
net_salary4 = gross_salary4 - pf4
print(gross_salary4)
print(net_salary4)

Employee 4 Salary:
72576.0
70371.0

In [11]:
print("Employee 5 Salary: ")
gross_salary5 = salary5 + hra5 + da5 + pf5
net_salary5 = gross_salary5 - pf5
print(gross_salary5)
print(net_salary5)

Employee 5 Salary:
51840.0
50265.0

# 4. Uses logical operators to categorize the salary range

In [12]:
print("if salary is greater than 55000: ")
a = net_salary1 >= 55000
b = net_salary2 >= 55000
c = net_salary3 >= 55000
d = net_salary4 >= 55000
e = net_salary5 >= 55000
print("High Salary")
print("1st employee:",a," 2nd employee:",b," 3rd employee:",c," 4th employee:",d," 5th employee:",e)
print("")

print("if salary is greater than 45000 and less than 55000: ")
a = (net_salary1 >= 45000 and net_salary1 <= 55000)
b = (net_salary2 >= 45000 and net_salary2 <= 55000)
c = (net_salary3 >= 45000 and net_salary3 <= 55000)
d = (net_salary4 >= 45000 and net_salary4 <= 55000)
e = (net_salary5 >= 45000 and net_salary5 <= 55000)
print("Medium Salary")
print("1st employee:",a," 2nd employee:",b," 3rd employee:",c," 4th employee:",d," 5th employee:",e)
print("")

print("if salary is greater than 30000 and less than 45000: ")
a = (net_salary1 >= 30000 and net_salary1 <= 45000)
b = (net_salary2 >= 30000 and net_salary2 <= 45000)
c = (net_salary3 >= 30000 and net_salary3 <= 45000)
d = (net_salary4 >= 30000 and net_salary4 <= 45000)
e = (net_salary5 >= 30000 and net_salary5 <= 45000)
print("low Salary")
print("1st employee:",a," 2nd employee:",b," 3rd employee:",c," 4th employee:",d," 5th employee:",e)

if salary is greater than 55000:
High Salary
1st employee: True  2nd employee: True  3rd employee: True  4th employee: True  5th employee: False

if salary is greater than 45000 and less than 55000:
Medium Salary
1st employee: False  2nd employee: False  3rd employee: False  4th employee: False  5th employee: True

if salary is greater than 30000 and less than 45000:
low Salary
1st employee: False  2nd employee: False  3rd employee: False  4th employee: False  5th employee: False